*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #1f2937;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 1000px;
}

.logo {
  margin-right: auto;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

a, .hero-left p {
  color: #e5e7eb;
  font-size: 18px;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #1f2937;
}

.hero {
  display: flex;
  width: 1000px;
}

.hero-left, .hero-right {
  flex: 1;
}

button {
  padding: 8px 32px;
  background: #3882f6;
  color: #e5e7eb;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}

.hero-left {
  margin-right: 50px;
}
.hero-left p {
  margin-bottom: 12px;
}
.hero-left button {
  border: 1px solid #3882f6;
}

.heading {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  background-color: #aaa;
  color: #e5e7eb;
}

.info-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 780px;
}
.info > p {
  margin-bottom: 50px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.banner {
  display: flex;
  justify-content: space-between;
  gap: 53.3333333333px;
}

.banner-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-item > p {
  text-align: center;
}

.banner-image {
  height: 155px;
  width: 155px;
  margin-bottom: 8px;
  border: 4px solid #3882f6;
  border-radius: 18px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 780px;
}
.quote :first-child {
  margin-top: 50px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

#author {
  align-self: flex-end;
  margin-right: 36px;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.action-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 1000px;
  border-radius: 8px;
  color: #e5e7eb;
  background-color: #3882f6;
}
.action-container button {
  border: 2px solid #e5e7eb;
}

.action-heading {
  font-size: 22px;
  font-weight: 600;
}